@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
:root {
  ---blue: #1a9bf8;
  ---lightBlue: #5FBDFF;
  ---lightGrey: #d3d3d3;
  ---lightBlack: #333333;
  ---white: #ffffff;
  ---grey: #B6BBC4;
  ---darkBlue: #2C74B3;
  ---darkBlack: #191919;
  ---whiteSmoke: #f5f5f5;
  ---purple: #7B66FF;
  ---hoverGrey: #e7e5e5e5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.header {
 width: 100%;
 position: fixed;
 z-index: 999;
}
.header .social-links {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  background-color: var(---lightGrey);
  width: 100%;
}
.header .social-links .social {
 align-self: flex-end;
 justify-content: center;
 gap: 30px;
 margin-right: 30px;
 font-size: 20px;
 color: var(---darkBlue);
}
.header .social-links .social .links {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(---white);
  box-shadow: 0px 2px 2px var(---lightGrey);
  position: fixed;
  padding: 10px 0px;
}

.header nav .logo {
  margin-left: 30px;
}
.header nav .logo img {
  height: 120px;
  width: 130px;
}

.header nav .links {
  margin-right: 90px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.header .other-link {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 18px;
}
.header .other-link a {
  text-decoration: none;
  color: var(---lightBlack);
  font-weight: 500;
  padding: 5px 10px;
}
.header .other-link a:hover {
  color: var(---lightBlue) ;
}
.header .apply-link a{
  text-decoration: none;
  font-size: 16px;
  color: var(---white);
}
.header .apply-now {
  display: flex;
  align-items: center;
  color: var(---white);
  background-color: var(---blue);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
}
.header .apply-now:hover {
  background-color: var(---lightBlue);
}
/* footer ccs */
.footer {
  background-color: var(---darkBlack);
  color: var(---white);
  padding: 20 0px;
  /* text-align: center; */
  
}
.footer .footer-details {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin-right: 70px;
  margin-left: 70px;
  padding-bottom: 30px;
}
.footer .footer-details .address-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.footer .footer-details .address-details .address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer-details .address-details .address h2 {
  font-size: 22px;
}
.footer .footer-details .address-details .address p{
  font-weight: 700;
}
.footer .footer-details .address-details .social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-details .address-details .social-icons .iconFooter {
  color: var(---blue);
  font-size: 25px;
}
.footer .footer-details .address-details .social-icons .iconFooter:hover {
  color: var(---lightBlue);
}
.footer .footer-details .links-details {
  display: flex;
  flex-direction: column;
}
.footer .footer-details .links-details h2 {
  color: var(---blue);
  font-size: 24px;
}
.footer .footer-details .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-details .links a{
  text-decoration: none;
  color: var(---white);
  font-weight: 500;
}
.footer .footer-details .links a:hover {
  color: var(---lightBlue);
}
.footer .bottom-links {
  background-color: var(---whiteSmoke);
  padding: 20px;
  color: var(---blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.footer .bottom-links .copy-right {
  font-size: 18px;
  font-weight: 600;
}
.footer .bottom-links .developer-details {
  font-size: 16px;
  font-weight: 500;
}
.footer .bottom-links .developer-details span {
  color: var(---purple);
  font-weight: 600;
}
.footer p {
  margin: 0;
}

/* home page */
.home-content {
  margin-top: 190px;
  margin-bottom: 50px;
}
.home-content .slide-container {
  padding: 1px;
}
.home-content .slide {
  height: 400px;
  position: relative;
}
 
.home-content .site-info {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 600px;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.home-content .site-info h1 {
  font-family: 'Signika', sans-serif;
  margin-bottom: 0;
}
.home-content .site-info p {
  font-size: 25px;
  width: 180px;
  font-weight: 700;
  margin-left: 25px;
}
.home-content .site-info button {
  padding: 15px 25px;
  background-color: var(---blue);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  width: 180px;
  margin-left: 80px;
}
.home-content .site-info button:hover {
  background-color: var(---lightBlue);
}

.about {
  margin-top: 50px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px ;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}
.about .about-content {
  background-color: var(---lightBlue);
  padding: 20px 20px;
}
.about .about-content:hover {
  background-color: var(---blue);
}
.about .about-content .iconAbout {
  color: var(---white);
  font-weight: 900;
}
.about .vision-mission {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about .about-content,
.about .vision,
.about .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconAbout {
  font-size: 35px;
  color: var(---blue);
}
.about h2 {
  font-size: 25px;
  font-weight: 700;
}
.about p {
  line-height: 5vh;
  font-size: 18px;
}
.about .about-more {
  border: 1px solid var(---lightBlue);
  padding: 20px 10px;
  width: 300px;
  text-align: center;
}
.number-measures {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: var(---lightGrey);
  padding: 40px 0;
}

.number-measures .number-dialog {
  display: flex;
  flex-direction: row;
  gap: 250px;
}
.number-measures .students,
.number-measures .tutors,
.number-measures .courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number-measures .number-dialog h2 {
  margin-bottom: 0;
  color: var(---blue);
  font-weight: 900;
  font-size: 35px;
}
.number-measures .number-dialog  p {
  font-weight: 600;
  color: var(---lightBlack);
}

.courses-name{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
  gap: 5px;
  margin-top: 100px;
}
.courses-name span{
 width: 130px;
  border-bottom: 2px solid var(---grey);
}
.courses-name p{
  color: var(---blue);
  font-size: 25px;
  font-weight: 800;
}
.courses-data{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.courses-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.course-card {
  display: flex;
  flex-direction: column;
  background-color: var(---lightGrey);
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  width: 400px;
  height: 400px;
}


.course-card:hover {
  background-color: var(---hoverGrey);
}

.course-card .course-image img {
  height: 300px;
  width: 380px;
  border-radius: 5px;
}
.course-card .view-course {
  margin-top: 10px;
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
}
.course-card .view-course button {
  background-color: var(---blue);
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
  color: var(---white);
  font-weight: 600;
}
.course-card .view-course button:hover {
  background-color: var(---lightBlue);
  color: var(---lightBlack);
}
.course-card .course-name p{
  font-weight: 600;
  text-align: center;
  /* font-size: 18px; */
}
.more-courses {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
  margin-bottom: 100px;
}

.more-courses p{
  padding: 10px 15px;
  background-color: var(---blue);
  border-radius: 50px;
  color: var(---white);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-courses p:hover{
  background-color: var(---lightBlue);
}
.more-courses .moreIcon {
  margin-left: 10px;
  font-size: 25px;
  color:var(---darkBlack) ;
  background-color: var(---white);
  width: 25px;
  height: 25px;
  padding: 3px;
  border-radius: 50%;
}

/* courses page css */
.courses-page {
  display: flex;
  flex-direction: column;
}
.courses-page-content {
  margin-top: 190px;
  margin-bottom: 120px;
}
.courses-page .courses-title {
  display: flex;
  justify-content: center;
  background-color: var(---lightBlue);
  color: var(---white);
  font-weight: 900;
  font-size: 25px;
}

.courses-table {
  margin-top: 70px ;
  display: flex;
 justify-content: center;
}
.courses-table-details {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.courses-table-details table {
  width: 100%;
  border-collapse: collapse;
}

.courses-table-details table thead {
  border-top-left-radius: 8px;
}

.courses-table-details table th, .courses-table-details td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(---lightGrey);
  
}

.courses-table-details table th {
  background-color: var(---blue);
  color: var(--white);
 
}
.courses-table-details tbody tr {
  font-weight: 500;
}
.courses-table-details tbody tr:nth-child(even) {
  background-color: var(---whiteSmoke);
}

.courses-table-details tbody tr:hover {
  background-color: var(---hoverGrey);
}

.courses-table-details button {
  background-color: var(---blue);
  color: var(---white);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-weight: 600;
}

.courses-table-details button:hover {
  background-color: var(---lightBlue);
  color: var(---darkBlack);
}

/* Add animations for a more user-friendly experience */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.courses-table-details tbody tr {
  animation: fadeIn 0.5s ease-out;
}
.courses-page .other-title {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
  gap: 5px;
  margin-top: 70px;
}
.courses-page .other-title span{
 width: 130px;
  border-bottom: 2px solid var(---grey);
}
.courses-page .other-title p{
  color: var(---blue);
  font-size: 20px;
  font-weight: 800;
}
.courses-page .other-courses {
  display: flex;
  justify-content: center;
  width: 100%;
}
.courses-page .courses-data{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 0 90px;
}
.courses-page .courses-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.courses-page .course-card {
  display: flex;
  flex-direction: column;
  background-color: var(---lightGrey);
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  width: 280px;
  height:auto;
}


.courses-page .course-card:hover {
  background-color: var(---hoverGrey);
}

.courses-page .course-card .course-image img {
  height: 200px;
  width: 270px;
  border-radius: 5px;
}
.courses-page .course-card .view-course {
  margin-top: 10px;
  align-self: center;
  margin-left: 10px;
  gap: 120px;
} 

.courses-page .course-card .view-course button {
  background-color: var(---blue);
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
  color: var(---white);
  font-weight: 600;
}
.courses-page .course-card .view-course button:hover {
  background-color: var(---lightBlue);
  color: var(---lightBlack);
}
.courses-page .course-card .course-name p{
  font-weight: 600;
  text-align: center;
  /* font-size: 18px; */
}

.courses-page .inst-quote {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.courses-page .inst-quote p{
  text-align: center;
  color: var(---grey);
  font-size: 25px;
  font-weight: 800;
}

/* contact page css */

.contact-page {
  display: flex;
  flex-direction: column;
}

.contact-page .contact-page-details {
  margin-top: 190px;
  margin-bottom: 70px;
}
.contact-page .contact-title {
  display: flex;
  justify-content: center;
  background-color: var(---lightBlue);
  font-size: 25px;
  font-weight: 900;
  color: var(---white);
}

.contact-page .contact-form-title {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}
.contact-page .contact-form-title span{
 width: 130px;
  border-bottom: 2px solid var(---grey);
}
.contact-page .contact-form-title p{
  color: var(---blue);
  font-size: 20px;
  font-weight: 800;
}
.contact-page .contact-detail {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 150px;
}
.contact-page .contact-image img {
  width: 700px;
  height: 500px;
}
.contact-page form {
  display: flex;
  flex-direction: column;
}
.contact-page form .name-email {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contact-page form .name, .email {
  display: flex;
  flex-direction: column;
}
.contact-page form label {
  font-weight: 600;
  margin-bottom:5px;
  margin-top: 10px;
}
.contact-page form input {
  border: 1px solid var(---blue);
  height: 5vh;
  border-radius: 4px;
  outline: none;
  width: 230px;
  font-size: 16px;
  padding: 0 6px;
}
.contact-page form textarea {
  border: 1px solid var(---blue);
  height: 25vh;
  border-radius: 4px;
  resize: vertical;
  outline: none;
  font-size: 18px;
  padding: 15px 10px;
}
.contact-page form .button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact-page form .button button {
  background-color: var(---blue);
  border: none;
  padding: 8px 20px;
  color: var(---white);
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

.contact-page form .button button:hover {
  background-color: var(---lightBlue);
}

.contact-page .inst-quote {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.contact-page .inst-quote p{
  text-align: center;
  color: var(---grey);
  font-size: 25px;
  font-weight: 800;
}

/* enroll page css */

.enroll-page{
  display: flex;
  flex-direction: column;
}
.enroll-page .enroll-content {
  margin-top: 190px;
}

.enroll-page .enroll-title {
  display: flex;
  justify-content: center;
  background-color: var(---lightBlue);
  font-size: 25px;
  font-weight: 900;
  color: var(---white);
}
.enroll-page .enroll-details {
  margin-top: 50px;
  margin-bottom: 70px;
}

.enroll-page .enroll-form-text{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}
.enroll-page .enroll-form-text span{
 width: 130px;
  border-bottom: 2px solid var(---grey);
}
.enroll-page .enroll-form-text p{
  color: var(---blue);
  font-size: 20px;
  font-weight: 800;
}
.enroll-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enroll-form form .form-parts {
  display: flex;
  justify-content: center;
  gap: 150px;
  /* align-items: center; */
}
.enroll-form form .form-parts  .form-part1{
  display: flex;
  flex-direction: column;
}
.enroll-form form .form-parts  .form-part2 {
  display: flex;
  flex-direction: column;
}

.enroll-form form input , select {
  border: 1px solid var(---blue);
  height: 6vh;
  width: 350px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 6px;
}
.enroll-form form  .gender {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.enroll-form form  .gender input {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}
.enroll-form form  .gender .male, .female {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.enroll-form form  .gender label {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
.enroll-form form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
.enroll-form  .button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enroll-form  .button button {
  background-color: var(---blue);
  border:none ;
  padding: 8px 80px;
  font-size: 22px;
  color: var(---white);
  font-weight: 600;
  border-radius: 6px;
  letter-spacing: 5px;
  font-size: 30px;
}
.enroll-form  .button button:hover{
  background-color: var(---lightBlue);
}